---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/DEFAULT/transactions/1/verify
    body:
      encoding: UTF-8
      string: '{"verifyTransactionDate":"2017-04-09","verifyTotalAmount":"9.99","verifyTotalTax":"0.90"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/557317/transactions/287890806"
      Serverduration:
      - '00:00:00.0316965'
      Databasecalls:
      - '2'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"id":287890806,"code":"1","companyId":557317,"date":"2017-04-09","paymentDate":"1900-01-01","status":"Posted","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","customerVendorCode":"1","exemptNo":"","reconciled":false,"purchaseOrderNo":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":9.9900,"totalExempt":0.0000,"totalTax":0.9000,"totalTaxable":9.9900,"totalTaxCalculated":0.9000,"adjustmentReason":"Other","adjustmentDescription":"Un
        Voiding","locked":false,"region":"WA","country":"US","version":5,"softwareVersion":"16.12.4.4","originAddressId":739208589,"destinationAddressId":739208590,"exchangeRateEffectiveDate":"1900-01-01","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"description":"","email":"","modifiedDate":"2017-04-09T18:15:41.373","modifiedUserId":275128,"taxDate":"2017-04-09T00:00:00","lines":[{"id":1048171932,"transactionId":287890806,"lineNumber":"a334abe5-","boundaryOverrideId":0,"customerUsageType":"","description":"","destinationAddressId":739208590,"originAddressId":739208589,"discountAmount":0.0000,"exemptAmount":0.0000,"exemptCertId":0,"exemptNo":"","isItemTaxable":true,"isSSTP":false,"itemCode":"","lineAmount":9.9900,"quantity":1.0000,"ref1":"","ref2":"","reportingDate":"2017-04-09","revAccount":"","sourcing":"Destination","tax":0.9000,"taxableAmount":9.9900,"taxCalculated":0.9000,"taxCode":"","taxCodeId":8087,"taxDate":"2017-04-09","taxEngine":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","taxIncluded":false,"details":[{"id":1901654879,"transactionLineId":1048171932,"transactionId":287890806,"addressId":739208590,"country":"US","region":"WA","stateFIPS":"53","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"53","jurisName":"WASHINGTON","jurisdictionId":61,"stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.065000,"rateRuleId":1100068,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.6500,"taxableAmount":9.9900,"taxType":"Sales","taxName":"WA
        STATE TAX","taxAuthorityTypeId":45,"taxRegionId":2109716,"taxCalculated":0.6500,"taxOverride":0.0000,"rateType":"General","rateTypeCode":"G","taxableUnits":9.9900,"nonTaxableUnits":0.0000,"exemptUnits":0.0000,"unitOfBasis":"PerCurrencyUnit"},{"id":1901654880,"transactionLineId":1048171932,"transactionId":287890806,"addressId":739208590,"country":"US","region":"WA","stateFIPS":"53","exemptAmount":0.0000,"exemptReasonId":4,"inState":true,"jurisCode":"035","jurisName":"KITSAP","jurisdictionId":2987,"stateAssignedNo":"1800","jurisType":"CTY","nonTaxableAmount":0.0000,"nonTaxableRuleId":0,"nonTaxableType":"RateRule","rate":0.000000,"rateRuleId":1100069,"rateSourceId":3,"serCode":"","sourcing":"Destination","tax":0.0000[...]
