---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/addresses/resolve
    body:
      encoding: UTF-8
      string: '{"line1":"350 State St.","city":"Salt Lake City","region":"UT","postalCode":"84111","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0625018'
      Databasecalls:
      - '3'
      Databaseduration:
      - '00:00:00.0156282'
    body:
      encoding: UTF-8
      string: '{"address":{"line1":"350 State St.","city":"Salt Lake City","region":"UT","country":"US","postalCode":"84111"},"validatedAddresses":[{"addressType":"StreetOrResidentialAddress","line1":"350
        S STATE ST","line2":"","line3":"","city":"SALT LAKE CITY","region":"UT","country":"US","postalCode":"84111-2303","latitude":40.761449,"longitude":-111.888372}],"coordinates":{"latitude":40.761449,"longitude":-111.888372},"resolutionQuality":"Intersection","taxAuthorities":[{"avalaraId":"57","jurisdictionName":"UTAH","jurisdictionType":"State","signatureCode":"BTMC"},{"avalaraId":"2810","jurisdictionName":"SALT
        LAKE","jurisdictionType":"County","signatureCode":"BTSS"},{"avalaraId":"2000003009","jurisdictionName":"SALT
        LAKE CITY","jurisdictionType":"City","signatureCode":"BTTC"},{"avalaraId":"2001000040","jurisdictionName":"SALT
        LAKE CO TR","jurisdictionType":"Special","signatureCode":"BTST"}]}'
  recorded_at: Sun, 09 Apr 2017 16:31:02 GMT
recorded_with: VCR 3.0.3
