---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0020457'
      Databasecalls:
      - '4'
      Databaseduration:
      - '00:00:00.0020457'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ValidationException","message":"Field customerCode
        is required.","target":"IncorrectData","details":[{"code":"ValueRequiredError","number":5,"message":"Field
        customerCode is required.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/ValueRequiredError","severity":"Error"}]}}'
  recorded_at: Sun, 09 Apr 2017 18:17:46 GMT
recorded_with: VCR 3.0.3
