---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/companies/DEFAULT/transactions/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00'
      Databasecalls:
      - '2'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"@recordsetCount":4,"value":[{"id":287824439,"code":"1","companyId":557317,"date":"2017-04-09","paymentDate":"1900-01-01","status":"Adjusted","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","customerVendorCode":"1","exemptNo":"","reconciled":false,"purchaseOrderNo":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":0.0000,"totalExempt":0.0000,"totalTax":0.0000,"totalTaxable":0.0000,"totalTaxCalculated":0.0000,"adjustmentReason":"NotAdjusted","adjustmentDescription":"","locked":false,"region":"WA","country":"US","version":1,"softwareVersion":"16.12.4.4","originAddressId":739104701,"destinationAddressId":739104702,"exchangeRateEffectiveDate":"1900-01-01","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"description":"","email":"","modifiedDate":"2017-04-09T16:11:18.787","modifiedUserId":275127,"taxDate":"2017-04-09T00:00:00","summary":[],"parameters":{}},{"id":287825001,"code":"2","companyId":557317,"date":"2017-04-09","paymentDate":"1900-01-01","status":"Adjusted","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","customerVendorCode":"2","exemptNo":"","reconciled":false,"purchaseOrderNo":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":0.0000,"totalExempt":0.0000,"totalTax":0.0000,"totalTaxable":0.0000,"totalTaxCalculated":0.0000,"adjustmentReason[...]
