---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/287826158
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/557317/transactions/287826158"
      Serverduration:
      - '00:00:00.0124432'
      Databasecalls:
      - '3'
      Databaseduration:
      - '00:00:00.0124432'
    body:
      encoding: UTF-8
      string: '{"id":287826158,"code":"1","companyId":557317,"date":"2017-04-09","paymentDate":"1900-01-01","status":"Adjusted","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","customerVendorCode":"1","exemptNo":"","reconciled":false,"purchaseOrderNo":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":9.9900,"totalExempt":0.0000,"totalTax":0.9000,"totalTaxable":9.9900,"totalTaxCalculated":0.9000,"adjustmentReason":"PriceAdjusted","adjustmentDescription":"","locked":false,"region":"WA","country":"US","version":2,"softwareVersion":"16.12.4.4","originAddressId":739107534,"destinationAddressId":739107535,"exchangeRateEffectiveDate":"1900-01-01","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"description":"","email":"","modifiedDate":"2017-04-09T17:36:23.84","modifiedUserId":275128,"taxDate":"2017-04-09T00:00:00","summary":[],"parameters":{}}'
  recorded_at: Wed, 03 May 2017 15:38:38 GMT
recorded_with: VCR 3.0.3
