---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/DEFAULT/transactions/1/settle
    body:
      encoding: UTF-8
      string: '{"commit":{"commit":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0156242'
      Databasecalls:
      - '3'
      Databaseduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"GetTaxError","target":"Unknown","details":[{"code":"GetTaxError","number":300,"faultCode":"Server","helpLink":"http://developer.avalara.com/avatax/errors/GetTaxError","severity":"Error"},{"code":"GetTaxError","number":300,"message":"DocStatus
        is invalid for this operation.","description":"Expected Saved|Posted","faultCode":"GetTaxError","helpLink":"http://developer.avalara.com/avatax/errors/GetTaxError","refersTo":"DocStatus","severity":"Error"}]}}'
  recorded_at: Sun, 09 Apr 2017 17:50:46 GMT
recorded_with: VCR 3.0.3
