---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/companies/DEFAULT/transactions/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/557317/transactions/287890806"
      Serverduration:
      - '00:00:00.0266038'
      Databasecalls:
      - '4'
      Databaseduration:
      - '00:00:00.0109705'
    body:
      encoding: UTF-8
      string: '{"id":287890806,"code":"1","companyId":557317,"date":"2017-04-09","paymentDate":"1900-01-01","status":"Cancelled","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","customerVendorCode":"1","exemptNo":"","reconciled":false,"purchaseOrderNo":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":9.9900,"totalExempt":0.0000,"totalTax":0.9000,"totalTaxable":9.9900,"totalTaxCalculated":0.9000,"adjustmentReason":"Other","adjustmentDescription":"Un
        Voiding","locked":false,"region":"WA","country":"US","version":5,"softwareVersion":"16.12.4.4","originAddressId":739208589,"destinationAddressId":739208590,"exchangeRateEffectiveDate":"1900-01-01","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"description":"","email":"","modifiedDate":"2017-04-09T18:31:24.46","modifiedUserId":275128,"taxDate":"2017-04-09T00:00:00","history":[{"id":287890204,"code":"1","companyId":557317,"date":"2017-04-09","paymentDate":"1900-01-01","status":"Adjusted","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","customerVendorCode":"1","exemptNo":"","reconciled":false,"purchaseOrderNo":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":9.9900,"totalExempt":0.0000,"totalTax":0.9000,"totalTaxable":9.9900,"totalTaxCalculated":0.9000,"adjustmentReason":"Other","adjustmentDescription":"Unvoiding","locked":false,"region":"WA","country":"US","version":4,"softwareVersion":"16.12.4.4","originAddressId":739207826,"destinationAddressId":739207827,"exchangeRateEffectiveDate":"1900-01-01","exchangeRate":1.0000,"isSellerImporterOfRecord":false,"description":"","email":"","modifiedDate":"2017-04-09T18:11:25.457","modifiedUserId":275128,"taxDate":"2017-04-09T00:00:00","summary":[],"parameters":{}},{"id":287885181,"code":"1","companyId":557317,"date":"2017-04-09","paymentDate":"1900-01-01","status":"Adjusted","type":"SalesInvoice","batchCode":"","currencyCode":"USD","customerUsageType":"","customerVendorCode":"1","exemptNo":"","reconciled":false,"purchaseOrderNo":"","salespersonCode":"","taxOverrideType":"None","taxOverrideAmount":0.0000,"taxOverrideReason":"","totalAmount":9.9900,"totalExempt":0.0000,"totalTax":0.9000,"totalTaxable":9.9900,"totalTaxCalculated":0.9000,"adjustmentReason[...]
