---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/taxrates/byaddress?city=Salt%20Lake%20City&country=US&line1=350%20State%20St.&postalCode=84111&region=UT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0404311'
      Databasecalls:
      - '2'
      Databaseduration:
      - '00:00:00.0248052'
    body:
      encoding: UTF-8
      string: '{"totalRate":0.068500,"rates":[{"rate":0.047000,"name":"UT STATE TAX","type":"State"},{"rate":0.013500,"name":"UT
        COUNTY TAX","type":"County"},{"rate":0.000000,"name":"UT CITY TAX","type":"City"},{"rate":0.008000,"name":"UT
        SPECIAL TAX","type":"Special"}]}'
  recorded_at: Sun, 09 Apr 2017 16:31:03 GMT
recorded_with: VCR 3.0.3
