---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/DEFAULT/transactions/1/adjust
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC_AUTH>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0156189'
      Databasecalls:
      - '4'
      Databaseduration:
      - '00:00:00.0156189'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ServerConfiguration","message":"An invalid exception
        handler routine has been detected.","target":"AvaTaxApiServer","details":[{"code":"UnhandledException","number":50,"message":"An
        invalid exception handler routine has been detected.","description":"This
        error has been logged and reported to Avalara system administrators.  ","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/UnhandledException","severity":"Exception"}]}}'
  recorded_at: Sun, 09 Apr 2017 16:43:47 GMT
recorded_with: VCR 3.0.3
